*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url(https://images.unsplash.com/photo-1592394675778-4239b838fb2c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074)
     no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: -1;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    filter: blur(0);
}

.loading-text{
    font-size: 50px; 
    color: red;
}